{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="smart-display-admin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "images/favicon.ico" %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <!-- Custom styles for this template -->
    
    <link href="{% static "css/base_site.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel=stylesheet >
    {% block extra_css %}
    {% endblock %}
    <title>{% block title %}IITD Notices{% endblock %}</title>
  </head>

  <body ng-controller="MainController as main">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'my_channels' %}>IITD Notices</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar %}
                <li class="active"><a href={% url 'login' %}>Login</a></li>
                <li><a href="#content">My Content</a></li>
                <li><a href="#boards">My Boards</a></li>
                <li><a href="#approve">Approve</a></li>
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block navbar-right %}
                {% if request.user %}
                <li class="active"> <a href="#"> <span class='nav-username'> Welcome: {{user.username}} </span> </a> </li>
                <li> <a href={% url 'logout' %}> Logout </a> </li>
                {% endif %}
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="main-area">
        <!-- <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
        <div id="sidebar">
          {% block sidebar %}
          <!-- TODO: REMOVE SIDEBAR -->
          {% endblock %}
        </div>

        <div>
        {% block content %}
             {% if content %}
             <h2>
                {{content}}
            </h2>
             {% endif %}
        {% endblock %}
        </div>
      </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "js/jquery-1.12.3.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js"%}></script>
    {% block extra_js %}
    {% endblock %}
    
  </body>
</html>