{% extends 'admin_templates/base.html' %}
{% load static %}
{% block title %} My Content {% endblock %}

{% block navbar %}
  {% include "admin_templates/baby_templates.html" with navbar_contents=True %}
{% endblock %}

    {% block extra_css %}
      <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
      <link rel="stylesheet" href="{% static "css/pikaday.css" %}">
      <link rel="stylesheet" href="{% static "css/jquery.ptTimeSelect.css" %}">
      <link rel="stylesheet" href="{% static "css/isteven-multi-select.css" %}">
    {% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Title: <strong> {{content.title}} </strong> </h3>
    </div>
    
    <div class="panel-body panel-merge-callouts">
      <div class="bs-callout merge-panel bs-callout-info">
        <h4> Details </h4>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="control-label col-sm-2">Submitted by:</label>
            <div class="col-sm-6">
              <p class="form-control-static">{{content.submitter.username}}</p>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2">Submitted at:</label>
            <div class="col-sm-6">
              <p class="form-control-static">{{content.timestamp}}</p>
            </div>
          </div>
          

          <div class="form-group">
            <label class="control-label col-sm-2">Title:</label>
            <div class="col-sm-6">
              <p class="form-control-static">
                <input type="text" class="form-control" placeholder="Title of notice" value="{{ content.title }}" ng-model="main.notice.title" aria-describedby="notice-title">
              </p>
            </div>
          </div>


          {% if content.content_type == "text" %}
          <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-6">
              <p class="form-control-static">
                <textarea class="form-control" rows="3" placeholder="Notice Content" ng-model="main.notice.description" aria-describedby="notice-description">{{ content.description }}</textarea>
              </p>
            </div>
          </div>
          {% endif %}

          {% if content.content_type == "img" or content.content_type == "pdf" %}
            <div class="form-group">
              <label class="control-label col-sm-2">Image/PDF Link:</label>
              <div class="col-sm-6">
              {% if content.user_file.name %}
                <a href={{content.user_file.url}}>
                  <p class="form-control-static">
                    {{content.user_file.url}}
                  </p>
                </a>
              {% else %}
                <a href={{content.link}}>
                  <p class="form-control-static">
                    {{content.link}}
                  </p>
                </a>
              {% endif %}
              </div>
            </div>

          {% endif %}

          {% if content.content_type == "ppt" %}
            <div class="form-group">
              <label class="control-label col-sm-2">Google Slide Link:</label>
              <div class="col-sm-6">
                <a href={{content.link}}>
                  <p class="form-control-static">
                    {{content.link}}
                  </p>
                </a>
              </div>
            </div>
          {% endif %}

          {% if not content.content_type == "text" %}

            <div class="form-group">
              <label class="control-label col-sm-2">Upload to Edit:</label>
              <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="notice-link">Link</span>
                    <input class="form-control" placeholder="Link" ng-model="main.notice.link" aria-describedby="notice-link">
                  </div>
                  <p></p>
                  <p class="help-block">Upload any PPT / Image / PDF here.</p>
                  <h6 class="text-center">OR</h6>
                  <div class="input-group">
                    <span class="input-group-addon" id="notice-file">File (PDF / PPT / Image)</span>
                    <input id="input-notice-file" type="file" enctype="multipart/form-data" name="file" class="form-control" placeholder="Notice" aria-describedby="notice-file">
                  </div>
                <p></p><p></p>
              </div>
            </div>

          {% endif %}


          <div id="validity" class="form-group">
            <div class="form-group">
              <label class="control-label col-sm-2">Valid From:</label>
              <div class="col-sm-6">
                <p class="form-control-static">
                  <input id="valid-from-date" type="text" class="date start" placeholder="Valid FROM date"/>
                  <input id="valid-from-time" type="text" class="time start" placeholder="Valid FROM time"/>
                </p>
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label col-sm-2">Valid Till:</label>
              <div class="col-sm-6">
                <p class="form-control-static">
                  <input id="valid-to-date" type="text" class="date end" placeholder="Valid TILL date"/>
                  <input id="valid-to-time" type="text" class="time end" placeholder="Valid TILL time"/>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Approval Status</label>
            <div class="col-sm-6">
              <p class="form-control-static">
                {% if content.is_approved %}
                  Approved
                {% else %}
                  Pending Approval
                {% endif %}
              </p>
            </div>
          </div>

          <div class="form-group" style="padding: 30px 0px 15px 0px">
            <div class="col-sm-5 col-md-offset-2">
              <button type="submit" style="width:100%" class="btn btn-primary" ng-click="main.editNotice()">Edit Notice</button>
            </div>
          </div>


         {% verbatim %}
          <div class="input-row">
            <!-- Modal -->
            <div class="modal fade" id="submit-notice-modal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Response</h4>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-success" role="alert" ng-show="main.upload_error.length == 0">
                      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 
                      <strong> Congrats! </strong>Notice has been edited successfully
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="main.upload_error.length > 0">
                      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 
                      <strong> Oh Snap! </strong>{{ main.upload_error }}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endverbatim %}
        </form>
        <br>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    var ID = '{{ content.id }}';
    var TITLE = '{{ content.title }}';
    var DESCRIPTION = '{{ content.description }}';
    var TYPE = '{{ content.content_type }}';
    var LINK = '{% if content.user_file.name %}{{content.user_file.url}}{% else %}{{content.link}}{% endif %}';
    var FROM_DATE = new Date({{content.valid_from.year}}, 
                            {{content.valid_from.month}}-1, 
                            {{content.valid_from.day}},
                            {{content.valid_from.hour}},
                            {{content.valid_from.minute}});
    var TILL_DATE = new Date({{content.valid_till.year}}, 
                            {{content.valid_till.month}}-1, 
                            {{content.valid_till.day}},
                            {{content.valid_till.hour}},
                            {{content.valid_till.minute}});
  </script>
  
  <script src={% static "js/angular.min.js" %}></script>
  <script type="text/javascript" src="{% static "js/isteven-multi-select.js" %}"></script> 
  <script type="text/javascript" src="{% static "js/pikaday.js" %}"></script>
  <script type="text/javascript" src="{% static "js/pikaday.jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.ptTimeSelect.js" %}"></script>
  <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.timepicker.js" %}"></script>
  <script type="text/javascript" src="{% static "js/datepair.js" %}"></script>  
  <script type="text/javascript" src="{% static "js/custom.admin.editnotice.js" %}"></script>
{% endblock %}
