{% extends 'admin_templates/base.html' %}
{% load static %}
{% block title %} My Content {% endblock %}

{% block navbar %}
  {% include "admin_templates/baby_templates.html" with navbar_contents=True %}
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Title: <strong> {{content.title}} </strong> </h3>
    </div>
    
    <div class="panel-body panel-merge-callouts">
      <div class="bs-callout merge-panel bs-callout-info">
        <h4> Details </h4>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="control-label col-sm-2">Submitted by:</label>
            <div class="col-sm-4">
              <p class="form-control-static">{{content.submitter.username}}</p>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2">Submitted at:</label>
            <div class="col-sm-4">
              <p class="form-control-static">{{content.timestamp}}</p>
            </div>
          </div>
          

          <div class="form-group">
            <label class="control-label col-sm-2">Title:</label>
            <div class="col-sm-4">
              <p class="form-control-static">{{content.title}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-4">
              <p class="form-control-static">{{content.description}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Valid From:</label>
            <div class="col-sm-4">
              <p class="form-control-static">{{content.valid_from}}</p>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2">Valid Till:</label>
            <div class="col-sm-4">
              <p class="form-control-static">{{content.valid_till}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Approval Status</label>
            <div class="col-sm-4">
              <p class="form-control-static">
                {% if content.is_approved %}
                  Approved
                  <!-- by {{ content.approver.username }} -->
                {% else %}
                  Pending Approval
                {% endif %}
              </p>
            </div>
          </div>

          {% if content.content_type == "img" %}
            <div class="form-group">
              <label class="control-label col-sm-2">Image Link:</label>
              <div class="col-sm-4">
                {% if content.user_file.name %}
                <a href={{content.get_file_link}}>
                  <p class="form-control-static">
                    {{content.get_file_link}}
                  </p>
                </a>
                {% else %}
                <a href={{content.link}}>
                  <p class="form-control-static">
                    {{content.link}}
                  </p>
                </a>
                {% endif %}

              </div>
            </div>
          {% endif %}

          {% if content.content_type == "ppt" %}
            <div class="form-group">
              <label class="control-label col-sm-2">Google Slide Link:</label>
              <div class="col-sm-4">
                <a href={{content.link}}>
                  <p class="form-control-static">
                    {{content.link}}
                  </p>
                </a>
              </div>
            </div>
          {% endif %}

        </form>
        <br>
      </div>
    </div>
  </div>
{% endblock %}