{% extends 'admin_templates/base.html' %}
{% load static %}

{% block extra_css %}
    <link href={% static "css/login.css" %} rel=stylesheet>
{% endblock %}

{% block title %}    
    IITD Notices Logout
{% endblock %}

{% block navbar %}
    <li><a href={% url 'login' %}>Login</a></li>
{% endblock %}

{% block navbar-right %} {% endblock %}

{% block sidebar %} {% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p class='text-center'> You have been successfully logged out. 
              <a href={% url 'login' %}>Click Here to login again</a>
            </p>
        </div>
    </div>
{% endblock %}