{% extends 'admin_templates/base.html' %} {% load static %} {% block extra_css %}
<!-- <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
{% endblock %} 
{% block title %} My Contents  {% endblock %} 

{% block navbar %}
  {% include "admin_templates/baby_templates.html" with navbar_contents=True %}
{% endblock %} 

{% block sidebar %} {% endblock %} 

{% block content %}
<div class="container">
    {% if my_content %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><p>Welcome {{request.user.username}} </p></h3>
          <h4><p> Your Contents: </p></h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed margin-bot-5">
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Title</th>
                <th>Description or Link</th>
                <th>Approval Status</th>
                <th>View Details</th>
                <th>Edit Details</th>
              </tr>
            </thead>

            <tbody>
              {% for content in my_content %}
                <tr data-notice="{{content.id}}"  %} >
                  <td                 
                  > {{content.id}} </td>
                  <td                   
                  > {{content.type}} </td>
                  <td                 
                  > {{content.title}} </td>
                  <td style="max-width:500px;overflow: hidden;" 
                  >

                  {% if content.type == "text" %}
                    {{content.description}} 
                  {% endif %}

                  {% if content.type == "ppt" %}
                    <a href={{content.link}} target="_blank">{{content.link}}</a>
                  {% endif %}

                  {% if content.type == "img" or content.type == "pdf" %}
                    {% if content.user_file.name %}
                      <a href={{content.user_file.url}} target="_blank">{{content.user_file.url}}</a>
                    {% else %}
                      <a href={{content.link}} target="_blank">{{content.link}}</a>
                    {% endif %}
                  {% endif %}

                  </td>

                  <td 
                  >
                      {% if content.approved %}
                      Approved
                      {% else %}
                      Pending
                      {% endif %}
                   </td>

                   <td 
                    class="clickable-element" 
                    data-href={% url 'my_content' content.id%}>
                      <button type="button" class="btn btn-warning">View</button>
                  </td>

                   <td 
                    class="clickable-element" 
                    data-href={% url 'edit_content' content.id%}>
                      {% if not content.approved %}
                        <button type="button" class="btn btn-primary">Edit</button>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class='thick-hr'>
            <hr>
          </div>
        </div>
      </div>
    {% endif %}
</div>
{% endblock %} 

{% block extra_js %}
  <script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-element").click(function() {
      window.document.location = $(this).data("href");
    });
  });
  </script>
{% endblock %}

