 {% load static %}
{% verbatim %}
<div class="notice" ng-show="data.type=='img'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice-image-desc" ng-hide="data.description==''">
		<h2>{{data.description}}</h2>
	</div>
	<div class="notice wide">
		<img class="wide" src="{{data.url}}">
	</div>
</div>
{% endverbatim %}