{% load static %}
{% verbatim %}
<div class="news-card">
  <div class="news-image">
  	<img src="{{ data.image }}">
    <!-- <img src="http://st3.cricketcountry.com/wp-content/uploads/2015/04/James-Faulkner-of-Australia-looks-on-5.jpg"> -->
  </div>
  <div class="news-content">
  	<h4 class="text-center">{{ data.title }}</h4>
  	<p class="text-right"><small><em>Powered By: ZUPPIT TECH</em></small></p>
  </div>
</div>
{% endverbatim %}