 {% load static %}
{% verbatim %}
<div class="notice" ng-show="data.type=='ppt'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice">
		<iframe class="notice" src="https://docs.google.com/presentation/d/1I85G5Dc1Uz4bo7JPoXfj4ozBjOPIy6jP79cRxUSX1Mg/embed?start=true&loop=true&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
</div>

<div class="notice" ng-show="data.type=='text'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice notice-text-desc card">
		<h4>{{data.description}}</h4>
	</div>
</div>

<div class="notice" ng-show="data.type=='img'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice-image-desc" ng-hide="data.description==''">
		<h2>{{data.description}}</h2>
	</div>
	<div class="notice wide">
		<img class="wide" src="{{data.url}}">
	</div>
</div>

<div class="notice" ng-show="data.type=='pdf'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice">
		<object class="notice" data="{{data.url}}" type="application/pdf">
		</object>
	</div>
</div>
{% endverbatim %}