 {% load static %}
{% verbatim %}
<div class="notice" ng-show="data.type=='pdf'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice">
		<object class="notice" data="{{data.url}}" type="application/pdf">
		</object>
	</div>
</div>
{% endverbatim %}