 {% load static %}
{% verbatim %}
<div class="notice" ng-show="data.type=='ppt'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice">
		<iframe class="notice" src="https://docs.google.com/presentation/d/1I85G5Dc1Uz4bo7JPoXfj4ozBjOPIy6jP79cRxUSX1Mg/embed?start=true&loop=true&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
</div>
{% endverbatim %}