{% load static %}
{% verbatim %}
<div class="card quote">
	<p>Quote from the Bot:</p>
	<p class="lead text-center">
		{{ data.text }}
	</p>
	<p class="text-right"><small><em>- {{ data.author }}</em></small></p>
</div>
{% endverbatim %}