 {% load static %}
{% verbatim %}
<div class="notice" ng-show="data.type=='text'">
	<div class="notice-title text-center">
		<h1>{{data.title}}</h1>
	</div>
	<div class="notice notice-text-desc card">
		<h4>{{data.description}}</h4>
	</div>
</div>
{% endverbatim %}