/* latin */
@import url('callout.css');

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(../fonts/APH4jr0uSos5wiut5cpjrhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  padding-top: 20px;
  font-family: 'Varela Round';
}

.main-area {
  padding: 40px 15px;
  text-align: left;
}

.thick-hr {
}

.thick-hr hr {
  border-color: #0e1739;
  border-width: 2px 0;
  margin-top: 7px;
  margin-bottom: 0px;
}

.thick-hr h4 {

}

.margin-0 {
  margin: 0px;
}

.margin-bot-5 {
    margin-bottom: 5px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 30px;
}


.nav-username {
  color: #0AEDF1;
}

.nav-username a {
  color: #0AEDF1;
}


