/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout.merge-panel {
    margin: -15px -15px 15px -15px;
}

.panel-merge-callouts {
    
}

.panel-merge-callouts div:last-child {
    margin-bottom: -15px;
}

.bs-callout h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

/*.bs-callout p {
    margin-top: 5px;
    margin-bottom: 5px;
}
*/

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-success {
    background-color: #C3FFD1;
    border-color: #0AD344;
}

.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}

.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}

.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #3A87AD;
}

.bs-callout-success h4,
.bs-callout-success a.alert-link {
    color: #089630;
}

.bs-callout a.alert-link {
    font-weight: bold;
}