<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="bus-app">

  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <meta name="viewport" content="initial-scale=1" />
    <title>SmartCampus</title>
  </head>

{% verbatim %}
  <body layout="column" ng-controller="MainController as main">

    <md-toolbar layout="row" class="aside">

      <div layout="column" class="left-info accent-color" >
          <h3 ng-cloak>{{main.clock | date:'MMM dd'}} - {{main.weather.temp}}&#x2103 - {{main.weather.condition}}</h3>
      </div>

      <div layout="column" class="primary-color" layout-align="center" flex>

        <marquee scrollamount="2">
          <ul class="marquee-content-items" ng-repeat="news in main.news">
            <li ng-cloak>{{news.title}}</li>
          </ul>
        </marquee>

      </div>


    </md-toolbar>

    <div layout="row" flex>

        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" flex="20" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <div ng-cloak>


            <md-content>
              <md-subheader class="md-no-sticky" ng-cloak>{{main.bookings.length}} bookings today</md-subheader>
              <md-list>
                <md-list-item ng-repeat="slot in main.timeTable" ng-class="{true: 'red-bg', false: 'green-bg'}[slot.free]" ng-style="{ 'min-height': 34*slot.rows + 'px' }">
                  <p>{{slot.start}}</p>
                  <p class="md-secondary"><b>{{slot.text}}</b></p>
                  <!-- <p class="md-secondary green-bg" ng-if="true">{{slot.text}}</p> -->
                </md-list-item>
              </md-list>
            </md-content>


          </div>
        </md-sidenav>


        <md-content layout="column" class="md-whiteframe-z2" flex md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <div ng-cloak>
            <md-content class="notices md-padding" ng-repeat="notice in main.notices">
              <md-card>
                <md-card-content>
                  <h2 class="md-title" ng-cloak>{{notice.title}}</h2>
                  <p ng-cloak>{{notice.content}}</p>
                </md-card-content>
                <img ng-src="{{notice.image_link}}" class="md-card-image notice-image" alt="Washed Out">
              </md-card>
            </md-content>
          </div>
        </md-content>

    </div>
{% endverbatim %}

    <script type="text/javascript">
      var ID = '{{ id }}';
      var AREA = 1;
      var ROOM = 14;
    </script>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!--  <script src="js/jquery.marquee.min.js"></script>
    <script src="js/marquee.js"></script> -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static "js/custom.js" %}"></script>
  </body>
</html>