<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="smart-display-app">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "weather-icons-master/css/weather-icons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    <title>Testing SmartCampus</title>
    
  </head>

  <body layout="column" ng-controller="MainController as main">

    <div class="container-fluid">
      <div class="row">
        <!-- Left Sidebar -->
        <div class="col-md-2 hidden-xs no-padding left-drawer">
          <div pi-card type="timer" info="main.clock"></div>
          <div pi-card type="weather" info="main.weather"></div>
          <div pi-card type="quote" info="main.quote"></div>
        </div>

        <!-- Main Contents -->
        <div class="col-md-8 col-xs-12 no-padding main-content" >
          <div class="notice-cards notice" pi-card type="ppt" ng-repeat="notice in main.notices" info="notice"></div>
        </div>

        <!-- Right Sidebar -->
        <div class="col-md-2 hidden-xs no-padding right-drawer">
          <div pi-card type="news" ng-repeat="newsItem in main.newsList" info="newsItem"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var ID = {{ id }};
      var AREA = 1;
      var ROOM = 14;
    </script>

    <!-- Angular Material Dependencies -->
    <script src={% static "js/angular.min.js" %}></script>
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
    <script src={% static "js/custom.js" %}></script>
  </body>
</html>