{% extends 'admin_templates/base.html' %} {% load static %} 

{% block title %} Add Notice  {% endblock %} 
{% block navbar %}
  {% include "admin_templates/baby_templates.html" with navbar_add_notice=True %}
{% endblock %} 

{% block sidebar %} {% endblock %} 


{% block content %}
	<body layout="column">

		<div class="container-fluid">
			<h1>Docs and Guides</h1>

			<div><a href="{% static "training.pdf" %}" target="_blank">How to add notices and create posters</a></div>

			<div><a href="{% static "report_ankit.pdf" %}" target="_blank">Front-end back-end interactions</a></div>

			<div><a href="{% static "report_mayank.pdf" %}" target="_blank">Raspberry-Pi Configurations</a></div>

			<div><a href="{% static "report_naren.pdf" %}" target="_blank">Server Configurations</a></div>
		</div>
	</body>

	{% endblock %}
	<!-- Angular Material Dependencies -->

</html>