<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="smart-display-app">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
		<link rel="stylesheet" href="{% static "css/custom.css" %}">

		<title>Testing admin</title>

	</head>

	<body layout="column" ng-controller="MainController as main">

		<div class="container-fluid">
			<div class="row">
				<!-- Main content -->
				<a href="/addNotice" class="btn btn-primary" role="button">Create New Notice</a>

			</div>
		</div>

		<!-- Angular Material Dependencies -->
		<script src="{% static "js/angular.min.js" %}"></script>
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/custom.js" %}"></script>
	</body>
</html>