{# Baby Templates #}

{% if navbar_login %}
  <li class="active"><a href={% url 'login' %}>Login</a></li>
{% endif %}


{% if navbar_channels %}
  <li class="active"><a href={% url 'my_channels'%}>Channels</a></li>
  <li><a href={% url 'my_contents' %}>My Contents</a></li>
  <li><a href="/addNotice/">Add Notice</a></li>
{% endif %}


{% if navbar_contents %}
  <li><a href={% url 'my_channels'%}>Channels</a></li>
  <li class="active"><a href={% url 'my_contents' %}>My Contents</a></li>
  <li><a href="/addNotice">Add Notice</a></li>
{% endif %}

{% if navbar_add_notice %}
  <li><a href={% url 'my_channels'%}>Channels</a></li>
  <li><a href={% url 'my_contents' %}>My Contents</a></li>
  <li class="active"><a href="#">Add Notice</a></li>
{% endif %}
