<!-- TAKEN FROM: http://bootsnipp.com/snippets/featured/custom-login-registration-amp-forgot-password -->

{% extends 'admin_templates/base.html' %}
{% load static %}

{% block extra_css %}
    <link href={% static "css/login.css" %} rel=stylesheet>
{% endblock %}

{% block extra_js %}
    <!-- TODO: Get these js libs on the server -->
    <script src={% static 'js/jquery.validate-1.15.0.min.js'%}></script>
    <script src={% static "js/login.js "%}></script>
{% endblock %}

{% block title %}    
    IITD Notices Login
{% endblock %}

{% block navbar %}
    {% include "admin_templates/baby_templates.html" with navbar_login=True %}
{% endblock %}

{% block navbar-right %} {% endblock %}

{% block sidebar %} {% endblock %}

{% block content %}
<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">login</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" class="text-left" method="post" action=".">
            {% csrf_token %}
            <!-- <div class="login-form-main-message">test</div> -->
            {% if errors %}
                <div class="login-form-main-message show error">
                    {{ errors }}
                </div>
            {% endif %}
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="lg_username" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="lg_password" name="password" placeholder="password">
                    </div>
                    <!-- <div class="form-group login-group-checkbox">
                        <input type="checkbox" id="lg_remember" name="lg_remember">
                        <label for="lg_remember">remember</label>
                    </div> -->
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>forgot your password? <a href="mailto:cs5110284@iitd.ac.in?subject=ForgotPwd&body=Please reset my password">click here</a></p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>

<!-- FORGOT PASSWORD FORM -->
<!-- <div class="text-center" style="padding:50px 0">
    <div class="logo">forgot password</div>
    <div class="login-form-1">
        <form id="forgot-password-form" class="text-left">
            <div class="etc-login-form">
                <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
            </div>
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="fp_email" class="sr-only">Email address</label>
                        <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
</div> -->

{% endblock %}