{% extends 'admin_templates/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block navbar %}
  {% include "admin_templates/baby_templates.html" with navbar_channels=True %}
{% endblock %}

<!-- Disabling the sidebar -->
{% block sidebar %} {% endblock %}
{% block content %}
  <div class='text-center'>
    <h2> My Channels </h2>
  </div>
  
  <div class="container">
    <!-- Admin channels table -->
    {% if admin_channels %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Channels with admin rights</h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed margin-bot-5">
            <thead>
              <tr>
                <th class='col-md-1'>ID</th>
                <th class='col-md-2'>Name</th>
                <th class='col-md-4'>Details</th>
              </tr>
            </thead>
            <tbody>
              {% for channel in admin_channels %}
                <tr
                  class='clickable-row'
                  data-href={% url 'my_channel' channel.channel_id %}>
                  <td> {{channel.channel_id}} </td>
                  <td> {{channel.channel__name}} </td>
                  <td> {{channel.channel__details}} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class='thick-hr'>
            <hr>
          </div>
        </div>
      </div>
    {% endif %}

    {% if approve_channels %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Channels with approve &amp; upload rights</h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed margin-bot-5">
            <thead>
              <tr>
                <th class='col-md-1'>ID</th>
                <th class='col-md-2'>Name</th>
                <th class='col-md-4'>Details</th>
              </tr>
            </thead>
            <tbody>
              {% for channel in approve_channels %}
                <tr
                  class='clickable-row'
                  data-href={% url 'my_channel' channel.channel_id %}>
                  <td> {{channel.channel_id}} </td>
                  <td> {{channel.channel__name}} </td>
                  <td> {{channel.channel__details}} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class='thick-hr'>
            <hr>
          </div>
        </div>
      </div>
    {% endif %}
    
    {% if upload_channels %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Channels with upload rights</h4>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed margin-bot-5">
            <thead>
              <tr>
                <th class='col-md-1'>ID</th>
                <th class='col-md-2'>Name</th>
                <th class='col-md-4'>Details</th>
              </tr>
            </thead>
            <tbody>
              {% for channel in upload_channels %}
                <tr
                  class='clickable-row'
                  data-href={% url 'my_channel' channel.channel_id %}>
                  <td> {{channel.channel_id}} </td>
                  <td> {{channel.channel__name}} </td>
                  <td> {{channel.channel__details}} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class='thick-hr'>
            <hr>
          </div>
        </div>
      </div>    
    {% endif %}

    {% if not admin_channels and not approve_channels and not upload_channels %}
      <div class="alert alert-warning" role="alert">
        <strong>Ohh!</strong> 
        Seems like you do not have any channels! Contact smartcampus admins if there is a mistake. <br>
        Contact:  <br>
          <strong>Ankit:</strong> ankitiit93@gmail.com <br>
          <strong>Mayank:</strong> mayank.raj.iitd@gmail.com <br>
          <strong>Swami:</strong> narenkumar19493@gmail.com <br>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    // console.log({{approve_channels.0.channel_id}})
  </script>
  <script type="text/javascript" src={% static "js/my_channels.js" %}></script>
{% endblock %}